conversation(display_name="ELE-AI")
  case lastResponse 
    default
      statement.
        <p>コロニーになる人、こんにちは。「論理的誤謬のギャラリー 」のテストに合格した。
        <strong>川の部屋</strong>と<strong>右側の部屋</strong>へのアクセスが許可された。
        </p>
      responses