conversation(display_name="Professor")
  case lastResponse
    default
      statement#default
      responses

  statements
    statement#default
      text.
        クリティカル・シンキングは誤解されることが多く、実際に定義や識別ができる人は少ないようです。
        旧来のシステムに見られるような誤った情報を防ぐために、私たちはベストプラクティスを研究し、優れた批判的思考習慣を身につけるためにお互いをサポートすることに細心の注意を払っている。
