conversation(display_name="ELE-AI")
  case lastResponse 
    default
      statement.
        <p>Hello Future Colonist! You have passed the logical fallacy gallery test. 
        Access to the <strong>river room</strong> and the <strong>room on the right</strong>
        has been granted.</p>
      responses