// Responses
conversation(display_name="ELE-AI")
  case lastResponse 
    default 
      statement.
        <p>Wahoo! You did it!</p>
        <p>You've finished the training! Now go out there and save the world as an operator of the OSS Elephpant!</p>
      responses