conversation(display_name="ELE-AI")
  case lastResponse 
    default
      statement.
        <p>Hello Future Colonist! You have passed the fallacy maze test. Access to the <strong>river room</strong> has been granted.</p>
      responses