- const worldState = getState('com.twilioquest.osselephpant2');
- const ele = worldState.ossElephpant2.conversations.ele;

// Responses
conversation(display_name="ELE-AI")
  case ele.current 
    when "default_welcome"
      statement#poggers
      responses 

    when "objective1_photo_pre"
      statement#objective1pre
      responses

    default 
      statement.
        ELECURRENT Hello world, what's up? 
      responses

  statements 
    statement#default
      text.
        Hello, nice to meet you!
    statement#objective1pre
      text.
        The Evil Legacy System has spent many years programming society to benefit the system. According to the Evil Legacy, a good citizen follows directions and doesn’t ask questions. The analysts, explorers, and settlers will need to learn to think for themselves again. The first step in unlearning the evil ways of the Legacy System will be to revisit the process of critical thinking.  A new planet is going to bring new experiences like never before! Who knows what you might encounter! Let's explore how we interpret and process information to ensure we are thinking critically as we embark on this early exploration.

// Flush world state changes, if any
- worldState.ossElephpant2.conversations.ele = ele;
- setState('com.twilioquest.osselephpant2', worldState);
