conversation(display_name="Professor")
  case lastResponse
    default
      statement#default
      responses

  statements
    statement#default
      text.
        The analysts, explorers, and settlers who will populate the new colony have all been educated in the Evil Legacy System way. 
        It seems that critical thinking is often misunderstood and that few people can really define and identify it. 
        In order to prevent the kind of misinformation prevalent in the old system, the Operator and colonists will need 
        to think very critically and create an education system that does the same.
